<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003027583328-mt2ogip2g59hupoj6ai16lg1b2s0ibav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003027583328-mt2ogip2g59hupoj6ai16lg1b2s0ibav</string>
	<key>API_KEY</key>
	<string>AIzaSyBkIsx0lglbVE2v87HmjdUQveo6rfUKsYM</string>
	<key>GCM_SENDER_ID</key>
	<string>1003027583328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreas.scrollV3</string>
	<key>PROJECT_ID</key>
	<string>flutter-fetching-ce043</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fetching-ce043.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003027583328:ios:646d62f4356ebee0ff8e05</string>
</dict>
</plist>